2020.11.15
<br>
<ol>
  <li>Bouncy Castle 1.67.</li>
  <li>SipHash-128.</li>
</ol>
2020.08.30
<br>
<ol>
  <li>Modified primary key on stack database table. SmokeStack must be reinstalled.</li>
  <li>Reliable message distribution.</li>
  <li>Removed SecureRandom.getInstance("SHA1PRNG").</li>
</ol>
2020.08.10
<br>
<ol>
  <li>Brief pause after message-retrieval request. Allows for distribution of random identities.</li>
</ol>
2020.08.08
<br>
<ol>
  <li>Configure SO_RCVBUF and SO_SNDBUF to 32 KiB.</li>
  <li>Deregister broadcast manager within onPause().</li>
  <li>Enabled large heap size.</li>
  <li>Improved removal of released messages.</li>
  <li>Manual garbage collection.</li>
</ol>
2020.07.11
<br>
<ol>
  <li>Pause if necessary.</li>
</ol>
2020.07.07
<br>
<ol>
  <li>Bouncy Castle 1.66!</li>
  <li>Eventful tasks.</li>
  <li>TLS 1.3.</li>
</ol>
2020.06.10
<br>
<ol>
  <li>Toggle listener privacy. New context menu item.</li>
</ol>
2020.05.15
<br>
<ol>
  <li>TLS 1.3 on Android 10. Android 10 or newer is required.</li>
</ol>
2020.04.22
<br>
<ol>
  <li>Bouncy Castle 1.65!</li>
  <li>Increased TLS public key sizes to 3048 bits. May not be supported by legacy Android versions.</li>
  <li>WakeLock and WifiLock Kernel members.</li>
</ol>
2020.04.04
<br>
<ol>
  <li>Create Ozone on Listener creation.</li>
</ol>
2020.02.25
<br>
<ol>
  <li>Depict remote peers.</li>
</ol>
2020.02.02
<br>
<ol>
  <li>Legacy devices. Replaced Integer.BYTES, Long.BYTES.</li>
</ol>
2019.12.10
<br>
<ol>
  <li>Bouncy Castle version 1.64.</li>
  <li>Corrected the private server authentication protocol.</li>
</ol>
2019.09.30
<br>
<ol>
  <li>Allocate resources in onStart().</li>
  <li>Bouncy Castle version 1.63.</li>
  <li>Corrected recording of shared public keys via EPKS. The previous implementation recorded keys within incorrect participants.</li>
  <li>Exit option. May be incomplete on some devices.</li>
  <li>New icons.</li>
  <li>Protect buffers against overflow.</li>
</ol>
2019.04.14
<br>
<ol>
  <li>Properly create strings from bytes.</li>
</ol>
2019.04.04
<br>
<ol>
  <li>Close Java streams.</li>
  <li>Release resources.</li>
  <li>Removed deepCopy().</li>
</ol>
2019.03.03
<br>
<ol>
  <li>Decreased buffer size from 32 MiB to 8 MiB.</li>
  <li>Purge buffer contents via delete() instead of setLength(0).</li>
</ol>
2019.02.25
<br>
<ol>
  <li>Bouncy Castle version 1.61.</li>
  <li>Foreground service.</li>
</ol>
2019.02.04
<br>
<ol>
  <li>Gather statistics in a timely manner.</li>
</ol>
2019.02.02
<br>
<ol>
  <li>Array lengths are positive or zero.</li>
  <li>Automatic removal of incorrect network data.</li>
  <li>Corrected conditional in UdpMulticastNeighbor::send().</li>
  <li>Replaced Spongy Castle with Bouncy Castle. Please replace existing listeners.</li>
  <li>Smaller lock regions.</li>
  <li>StringBuilder over StringBuffer, if possible.</li>
</ol>
2018.10.10
<br>
<ol>
  <li>Compute SHA-512 display digest of PEM(certificate).</li>
  <li>Initialize widgets within onResume().</li>
  <li>Inspect String::substring() parameters.</li>
  <li>New server (tulip-ipv4.tilaa.cloud).</li>
</ol>
2018.09.01
<br>
<ol>
  <li>Corrected echoing of data of remote peers.</li>
  <li>New message_digest field in the outbound_queue database table. SmokeStack must be reset.</li>
  <li>New statistics.</li>
</ol>
2018.08.29
<br>
<ol>
  <li>Lock SipHash::hmac().</li>
  <li>Removed the Echo Queue container from the Neighbor class. The database table outbound_queue has been modified. Please reset SmokeStack.</li>
</ol>
2018.08.26
<br>
<ol>
  <li>More socket writes per second.</li>
  <li>New statistics. SmokeStack must be reset.</li>
  <li>Notify Android system of software version.</li>
</ol>
2018.08.22
<br>
<ol>
  <li>Exceptions and optimizations.</li>
</ol>
2018.08.21
<br>
<ol>
  <li>Corrected password entry on new instances.</li>
  <li>Corrected widget states on new instances.</li>
</ol>
2018.08.19
<br>
<ol>
  <li>Blocking socket reads.</li>
  <li>Bouncy Castle has been upgraded to version 1.60.</li>
  <li>Broadcasting of device identities has been removed. Lighter cryptographic discovery.</li>
  <li>Fire is now compatible with SmokeStack.</li>
  <li>Material Design-compliant colors.</li>
  <li>New Smoke identity format.</li>
  <li>Private servers.</li>
  <li>Some member variables in the Neighbor class were incorrectly defined as static.</li>
</ol>
2018.04.04
<br>
<ol>
  <li>Display the first discovered IP address of the device in the Listeners IP Address field.</li>
  <li>Limit the number of identities to 512.</li>
  <li>LocalBroadcastManager instances.</li>
</ol>
2018.03.20
<br>
<ol>
  <li>Replaced some insert() statements with insertOrThrow().</li>
</ol>
2018.03.03
<br>
<ol>
  <li>Corrected local echo behavior.</li>
  <li>Host translation must be performed before every socket connection attempt.</li>
  <li>Large-area congestion-control mutex.</li>
  <li>Partition data over UDP links into 576-byte datagrams.</li>
</ol>
2018.02.20
<br>
<ol>
  <li>Corrected abortive socket releases.</li>
  <li>Disconnect listeners on loss of WiFi.</li>
</ol>
2018.02.10
<br>
<ol>
  <li>Denote corrupted database values.</li>
  <li>McEliece support.</li>
</ol>
2018.01.01
<br>
<ol>
  <li>Spongy Castle archives prov and core have been upgraded to version 1.58.0.0.</li>
</ol>
2017.08.19
<br>
<ol>
  <li>Purge neighbor statistics shortly after launch.</li>
  <li>Set a non-zero SO_TIMEOUT as some devices do not unblock socket reads after sockets are closed.</li>
</ol>
2017.07.20
<br>
<ol>
  <li>Do not attempt to send duplicate data.</li>
  <li>Do not linger on server socket close.</li>
  <li>Do not specify timeouts in socket reads as separate threads are responsible for socket reads.</li>
  <li>Per-participant message retrieval is fine.</li>
  <li>Removed non-necessary Thread.sleep() instances.</li>
  <li>Replaced StringBuilder Neighbor member with StringBuffer. StringBuffer is thread-safe.</li>
  <li>Signed release.</li>
  <li>Some server socket operations must be performed before the sockets are bound.</li>
  <li>WiFi lock.</li>
</ol>
2017.07.16
<br>
<ol>
  <li>Corrected outbound-queued statistic.</li>
  <li>Less computations on disconnected neighbors.</li>
  <li>Per-participant message retrieval is too expensive. Replaced with single thread.</li>
</ol>
2017.07.09
<br>
<ol>
  <li>Allow renaming of existing participants.</li>
  <li>Discard duplicate public keys on arrival.</li>
  <li>Smaller database transaction areas.</li>
</ol>
2017.07.07
<br>
<ol>
  <li>SmokeStack as a private public key repository.</li>
</ol>
